<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
  <arg name="set_base_frame" default="base_footprint"/>
  <arg name="set_odom_frame" default="odom"/>
  <arg name="set_map_frame"  default="map"/>

  <!-- Gmapping -->
  <node pkg="iris_lama_ros" type="slam2d_ros" name="turtlebot3_slam_lama" output="screen">
    <param name="base_frame_id" value="$(arg set_base_frame)"/>
    <param name="odom_frame_id" value="$(arg set_odom_frame)"/>
    <param name="global_frame_id"  value="$(arg set_map_frame)"/>
  </node>
</launch>
